@model MessageTemplateModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @await Component.InvokeAsync("SettingMode", new { modeName = "messagetemplate-advanced-mode" })
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <aldan-label asp-for="AllowedTokens" />
                        </div>
                        <div class="col-md-9">
                            <a id="allowedTokensShowHide" href="javascript:toggleLoadedAllowedTokens();">Show</a>
                            <div id="pnlAllowedTokens" style="display: none; white-space: pre-line">
                                <div class="form-text-row">@Model.AllowedTokens</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <aldan-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Name</div>
                            <input asp-for="Name" type="hidden" />
                        </div>
                    </div>
                    <script>
                        function toggleLoadedAllowedTokens() {
                            $('#pnlAllowedTokens').toggle();
                            if ($('#pnlAllowedTokens').css('display') == 'none') {
                                $('#allowedTokensShowHide').text('Show');
                            } else {
                                $('#allowedTokensShowHide').text('Hide');
                            }
                        }
                    </script>

                    <div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <aldan-label asp-for="Subject" />
                            </div>
                            <div class="col-md-9">
                                <aldan-editor asp-for="Subject" asp-required="true" />
                                <span asp-validation-for="Subject"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <aldan-label asp-for="Body" />
                            </div>
                            <div class="col-md-9">
                                <aldan-editor asp-for="Body" asp-required="true" asp-template="RichEditor" />
                                <span asp-validation-for="Body"></span>
                            </div>
                        </div>
                        <div class="form-group advanced-setting">
                            <div class="col-md-3">
                                <aldan-label asp-for="BccEmailAddresses" />
                            </div>
                            <div class="col-md-9">
                                <aldan-editor asp-for="BccEmailAddresses" />
                                <span asp-validation-for="BccEmailAddresses"></span>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="control-label">Test template</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-primary" onclick="setLocation('@(Url.Action("TestTemplate", new {id = Model.Id}))')">Test template</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <aldan-label asp-for="IsActive" />
                        </div>
                        <div class="col-md-9">
                            <aldan-editor asp-for="IsActive" />
                            <span asp-validation-for="IsActive"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>