@model Aldan.Web.Framework.Models.ActionConfirmationModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            @if (!string.IsNullOrEmpty(Model.AdditonalConfirmText))
            {
                <div class="additional-text">
                    @Model.AdditonalConfirmText
                </div>
            }
            Are you sure you want to perform this action?
        </div>
        <div class="modal-footer">
            <button type="submit" id="@(Model.WindowId)-submit-button" class="btn btn-primary pull-right">
                Yes
            </button>
            <span class="btn btn-default pull-right margin-r-5" data-dismiss="modal">No, cancel</span>
        </div>
    </div>
</div>