@model ChangePasswordModel

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>Change password</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
            {
            <div class="result">
                @Model.Result
            </div>
        }
        <form asp-route="UserChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="OldPassword" asp-postfix=":"></label>
                        <input asp-for="OldPassword" />
                        <aldan-required />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="NewPassword" asp-postfix=":"></label>
                        <input asp-for="NewPassword" />
                        <aldan-required />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <input asp-for="ConfirmNewPassword" />
                        <aldan-required />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" class="button-1 change-password-button" value="Change password" />
            </div>
        </form>
    </div>
</div>