<?xml version="1.0" encoding="utf-8"?>

<siteMap>
    <siteMapNode SystemName="Home" title="Home" controller="Home" action="Overview">
        <siteMapNode SystemName="Dashboard" title="Dashboard" controller="Home" action="Index"
                     IconClass="fa-desktop" />

        <siteMapNode SystemName="Users" title="Users"
                     IconClass="fa-user">
            <siteMapNode SystemName="Users list" title="Users"
                         controller="User" action="List"
                         IconClass="fa-dot-circle-o" />
        </siteMapNode>
        <siteMapNode SystemName="System" title="System"
                     IconClass="fa-cube">
            <siteMapNode SystemName="System information" title="System information"
                         controller="Common" action="SystemInfo"
                         IconClass="fa-dot-circle-o" />
            <siteMapNode SystemName="Log" title="Log" controller="Log"
                         action="List" IconClass="fa-dot-circle-o" />
            <siteMapNode SystemName="Message templates" title="Message templates"
                         controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
            <siteMapNode SystemName="Queued emails" title="Queued emails"
                         controller="QueuedEmail" action="List"
                         IconClass="fa-dot-circle-o" />
            <siteMapNode SystemName="Schedule tasks" title="Schedule tasks"
                         controller="ScheduleTask" action="List"
                         IconClass="fa-dot-circle-o" />
        </siteMapNode>
    </siteMapNode>
</siteMap>