@model Aldan.Web.Areas.Admin.Models.Users.UserModel


<div class="panel-body">
    <ul class="common-list">
        <li>During the impersonation process, you will see almost exactly what the user would see while browsing this site, with the exception of the header menu (you will see the following text 'Impersonated as user@email.here - finish session').</li>
        <li>Note: Click 'finish session' link in order to finish this session</li>
    </ul>
    <button type="submit" name="impersonate" class="btn btn-primary">
        <i class="fa fa-shopping-cart"></i>
        Impersonate
    </button>
</div>